includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    excludePaths:
        # (Intentional) syntax errors must be excluded in this way, by skipping the entire file.
        - tests/Functional/Fixtures/cache/syntaxError/project/src/My/Stuff/MyStuff.php
    level: 6
    paths:
        - src/
        - tests/
    tmpDir: var/phpstan/
